@font-face {
    font-family: 'Abel Pro';
    src: url('AbelPro-Regular.eot');
    src: url('../fonts/') format('embedded-opentype'),
        url('../fonts/AbelPro-Regular.woff2') format('woff2'),
        url('../fonts/AbelPro-Regular.woff') format('woff'),
        url('../fonts/AbelPro-Regular.ttf') format('truetype'),
        url('../fonts/AbelPro-Regular.svg#AbelPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

